@model PersonalJournal.Models.Models.JournalEntry

@{
    ViewData["Title"] = "Delete Journal Entry";
}

<h4>Journal Entry</h4>
<hr />

<div class="row">
    <div class="col-md-12">

        <div class="row form-group">
            <div class="col-md-2 align-items-start">
                <label asp-for="Title" class="control-label"></label>
            </div>
            <div class="col-md-4 align-items-start">
                <input readonly asp-for="Title" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2 align-items-start">
                <label asp-for="CategoryId" class="control-label"></label>
            </div>
            <div class="col-md-4 align-items-start">
                <input readonly class="form-control" value="@Model.Category.Title" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2 align-items-start">
                <label asp-for="MoodId" class="control-label"></label>
            </div>
            <div class="col-md-4 align-items-start">
                <input readonly class="form-control" value="@Model.Mood.Title" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2 align-items-start">
                <label asp-for="DateTime" class="control-label"></label>
            </div>
            <div class="col-md-3 align-items-start">
                <input readonly asp-for="DateTime" class="form-control" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2 align-items-start">
                <label asp-for="Description" class="control-label"></label>
            </div>
            <div class="col-md-5 align-items-start">
                <textarea readonly rows="5" cols="50" asp-for="Description" class="form-control"></textarea>
            </div>
        </div>

        <h5>Subsections</h5>
        <div class="row form-group"></div>

        <div class="row form-group">
            <div class="col-md-4 align-items-start">
                <label asp-for="SubsectionId1" class="control-label"></label>
                @if (Model.Subsection1 == null)
                {
                    <input readonly class="form-control" />
                }
                else
                {
                    <input readonly class="form-control" value="@Model.Subsection1.Title" />
                }
            </div>
            <div class="col-md-5 align-items-start">
                <label asp-for="SubsectionText1" class="control-label"></label>
                <textarea readonly rows="5" cols="50" asp-for="SubsectionText1" class="form-control"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 align-items-start">
                <label asp-for="SubsectionId2" class="control-label"></label>
                @if (Model.Subsection2 == null)
                {
                    <input readonly class="form-control" />
                }
                else
                {
                    <input readonly class="form-control" value="@Model.Subsection2.Title" />
                }
            </div>
            <div class="col-md-5 align-items-start">
                <label asp-for="SubsectionText2" class="control-label"></label>
                <textarea readonly rows="5" cols="50" asp-for="SubsectionText2" class="form-control"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 align-items-start">
                <label asp-for="SubsectionId3" class="control-label"></label>
                @if (Model.Subsection3 == null)
                {
                    <input readonly class="form-control" />
                }
                else
                {
                    <input readonly class="form-control" value="@Model.Subsection3.Title" />
                }
            </div>
            <div class="col-md-5 align-items-start">
                <label asp-for="SubsectionText3" class="control-label"></label>
                <textarea readonly rows="5" cols="50" asp-for="SubsectionText1" class="form-control"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 align-items-start">
                <label asp-for="SubsectionId4" class="control-label"></label>
                @if (Model.Subsection4 == null)
                {
                    <input readonly class="form-control" />
                }
                else
                {
                    <input readonly class="form-control" value="@Model.Subsection4.Title" />
                }
            </div>
            <div class="col-md-5 align-items-start">
                <label asp-for="SubsectionText4" class="control-label"></label>
                <textarea readonly rows="5" cols="50" asp-for="SubsectionText4" class="form-control"></textarea>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 align-items-start">
                <label asp-for="SubsectionId5" class="control-label"></label>
                @if (Model.Subsection5 == null)
                {
                    <input readonly class="form-control" />
                }
                else
                {
                    <input readonly class="form-control" value="@Model.Subsection5.Title" />
                }
            </div>
            <div class="col-md-5 align-items-start">
                <label asp-for="SubsectionText5" class="control-label"></label>
                <textarea readonly rows="5" cols="50" asp-for="SubsectionText5" class="form-control"></textarea>
            </div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>

    </div>
</div>
