@model IEnumerable<PersonalJournal.Models.Models.JournalEntry>

@{
    ViewData["Title"] = "Journal Entries";
}

@using (Html.BeginForm())
{
<div class="filter-container">
    <h4>Filter Results:</h4>
    <p>
        Search from Title: @Html.TextBox("TitleSearchString")
    </p>
    <p>
        Date Range: <input type="date" name="fromDate" /> to <input type="date" name="toDate" />
    </p>
    <p>
        <input class="btn-sm btn-primary" type="submit" value="Search" />
    </p>
</div>
}

<p>
    <a asp-action="Create" class="btn btn-success fas fa-file"> New</a>
</p>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.ActionLink("Date and Time", "Index", new { dateSortOrder = ViewBag.DateSortParam })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mood.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-primary fas fa-edit" asp-action="Edit" asp-route-id="@item.Id"></a>
                    <a class="btn btn-danger fas fa-trash-alt" asp-action="Delete" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
