@model IEnumerable<PersonalJournal.Models.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<p>
    <a asp-action="Create" class="btn btn-success fas fa-file"> New</a>
</p>
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                <a class="btn btn-primary fas fa-edit" asp-action="Edit" asp-route-id="@item.Id"></a>
                <a class="btn btn-danger fas fa-trash-alt" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
